@media screen and (min-width: 982px) {
    .mw-footer {
        padding: 1.25em !important;
    }
}

.mw-footer {
    margin-left: 10em;
    margin-top: 0;
    padding: 0.75em;
    direction: ltr;
}

.mw-footer ul {
    list-style: none none;
    margin: 0;
    padding: 0;
}

#footer-info-lastmod {
    display: none !important;
}

#footer-info li {
    line-height: 1.4;
}

.mw-footer li {
    color: #202122;
    margin: 0;
    padding: 0.5em 0;
    font-size: 0.75em;
}

#footer-places li {
    float: left;
    margin-right: 1em;
    line-height: 2;
}

#footer-icons {
    float: right;
}

#footer-icons li {
    float: left;
    margin-left: 0.5em;
    line-height: 2;
    text-align: right;
}