.mw-parser-output #mp-lower {
    margin-top: 4px;
    border-color: #ddcef2;
    background: #faf5ff;
    overflow: auto;
}

.mw-parser-output #mp-tfp-h2 {
    background: #ddcef2;
    border-color: #afa3bf;
}

.mw-parser-output #mp-tfp {
    margin: 0.1em 0.4em 0.6em;
}

img {
    border: 0;
}

img {
    border: 0;
    vertical-align: middle;
}