    .mw-parser-output #mp-other-lower {
        padding-bottom: 0.5em;
        padding: 0;
        border-color: #e2e2e2;
        margin-top: 4px;
        overflow: auto;
    }
    
    .mw-parser-output #mp-other-lower .mp-h2 {
        background: #eee;
        border-color: #ddd;
        color: #222;
    }
    
    .mw-body-content h2 {
        margin-bottom: 0.25em;
        padding: 0;
        font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
        line-height: 1.3;
    }
    
    .mw-parser-output #mp-other-lower>div {
        padding: 0.1em 0.6em;
    }
    
    .mw-parser-output #sister-projects-list {
        display: flex;
        flex-wrap: wrap;
    }
    
    .plainlist ul {
        line-height: inherit;
        list-style: none none;
        margin: 0;
    }
    
    @media (min-width: 360px) {
        .mw-parser-output #sister-projects-list li {
            width: 33%;
            min-width: 20em;
            white-space: nowrap;
            flex: 1 0 25%;
        }
        .mw-parser-output #sister-projects-list li>div:first-child {
            min-width: 50px;
        }
    }
    
    .mw-parser-output #sister-projects-list li>div:first-child {
        text-align: center;
    }
    
    .mw-parser-output #sister-projects-list li>div {
        display: inline-block;
        vertical-align: middle;
        padding: 6px 4px
    }
    
    .mw-parser-output #sister-projects-list li span {
        font-weight: bold;
    }
    
    .mw-parser-output #sister-projects-list li {
        display: inline-block;
    }
    
    .plainlist ul li {
        margin-bottom: 0;
    }
    
    .mw-parser-output .wikipedia-languages>ul {
        list-style: none;
        text-align: center;
        clear: both;
    }
    
    .mw-parser-output .wikipedia-languages ul {
        margin-left: 0;
    }
    
    .mw-parser-output .wikipedia-languages-complete {
        font-weight: bold
    }
    
    .mw-parser-output .wikipedia-languages ul a {
        white-space: nowrap
    }
    
    .mw-parser-output .wikipedia-languages-count-container {
        width: 90%;
        display: flex;
        justify-content: center;
        padding-top: 1em;
        margin: 0 auto;
    }
    
    .mw-parser-output .wikipedia-languages-prettybars {
        width: 100%;
        height: 1px;
        margin: 0.5em 0;
        background-color: #c8ccd1;
        flex-shrink: 1;
        align-self: center;
    }
    
    .mw-parser-output .wikipedia-languages-count {
        padding: 0 1em;
        white-space: nowrap;
    }
    
    #mw-content-text.mw-body-content .mw-parser-output #mp-other-lower.mp-bordered {
        white-space: initial;
    }